DATABASE_URL=postgresql://tanstack:tanstack@127.0.0.1:5432/tanstack_start_dev
REDIS_URL=redis://127.0.0.1:6379

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

WEB_ORIGIN=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

VITE_POSTHOG_KEY=
