node_modules
result
.direnv
apps/web/src/libs/paraglide/generated
apps/web/src/routeTree.gen.ts
.moon/cache
.moon/docker
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
mcp-todos.json
.direnv
.devenv
